div{
    border: 2px solid #4e4f8a;
    padding: 10px;
    background-color: rgb(156, 89, 89);
    margin: 10px;
}

.container{
    display: flex;
}

.boxItem1{
    flex: 2;
    order: 3;
}

.boxItem2{
    flex: 2;
    order: 1;
}

.boxItem3{
    flex: 1;
    order: 2;
}

.boxItem4{
    flex: 2;
    order: 4;
}